@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}




html {
  scroll-behavior: smooth;
}



body{
    min-height: 100vh;
    background: linear-gradient(#2b1055,#7597ed);
}



.img-1 img
{
    height: 50px;
    border-radius: 10px;
}

.ruls {
    background: url('./white-painted-wall-texture-background.jpg') center center/cover no-repeat;
    height: auto;
    flex-direction: column;
   
    
}







.ruls h2 {
  font-weight: 700;
  flex-direction: column;
   color: rgb(0, 0, 0);
   font-size: 50px;
   margin-top:7rem ;
   margin-bottom: 7rem ;
}



.ruls img {
    margin-top:7rem ;
    margin-bottom: 7rem ;

    margin-left: 550px;
    margin-top: 30px;
    height: 150px;
    width: 220px;
    border-radius: 15px;
}








header{
   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


ul a {
    text-decoration: none;
    color: antiquewhite;
    padding: 6px 15px;
    font-size: 17px;
    font-weight: 400;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

ul a:hover {
    background-color: beige;
    color: #2b1055;
}


section {
    position: relative;
   width: 100%;
   height: 100vh;
   padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


section img {
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 9;
}


#text {
    position: absolute;
    color: #ffffff ;
    white-space: nowrap;
    font-size: 7.8vw;
    height: 40%;
    z-index: 9;
}



.btn{
    z-index: 100;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    display: inline-block;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    transform: translateY(100px);
    transition: 0.7s ease-in-out;
    

       

}

.content .h213 {
  display: none;
}


.btn:hover {
    background-color: #074bf7;
    color: black;
}




.scs {
  position: relative;
  padding: 100px;
  background: #1c0522;
  align-items: center;

}



/* Ky */

@keyframes text {
  0% {
    color: #000;
    margin-bottom: 10px;
  }


  30% {
    letter-spacing: 5px;
    margin-bottom: 10px;
  }


  85% {
    
    margin-bottom: 10px;
  }

}

/* Ky End */

.scs h2 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
     animation: text 3s 1;

}


.scs p {
    color: #fff;
    font-size: 1.8em;
    margin-bottom: 100px;
    align-items: center;
    text-align: center;
}



/* cards */



.title2{
    flex-direction: column;
}


.cards .title , .title2 , .title3 {
    display: flex;
    justify-content: center;
    color: aliceblue;
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 100px;
    margin-top: 100px;

}

.title2 {
    font-size: 2.5em;
}

.title {
    font-size: 3.2em;
}

.title3{
    font-size: 2em ;
    color: black;
}

.cards-contact{
    background-color: aliceblue;
}

.content{
   display: flex; 
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
 
}

.card {
    background-color: aliceblue;
    width: 21.25em;
    box-shadow: 0 5px 100px rgba(1, 1, 1, 70%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px ;
    transition: 0.7s ease;
    
 
}


.info p {
  text-align: center;
  font-size: 1em;
  font-weight: 500;
}


.card:hover{
    box-shadow: 0 30px 100px rgba(5, 2, 1, 300%);
    transform: scale(1.1);
}


.icon , .icon2 , .icon3{
    color: blue;
    font-size: 6em;
    text-align: center;
}

.info h3 {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 700;
    margin: 10px;
    text-align: center;
    letter-spacing: 1px;
}

.info2 h3 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: 700;
    margin: 10px;
    text-align: center;
    letter-spacing: 2px;
}

.icon2{
    color: orange ;
}

.icon3{
    color: black;
}


/* card */

.cardse {
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    ;
  }
  
  .bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 190px;
    height: 240px;
    z-index: 2;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
  }
  
  .blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ff0000;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
  }
  
  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  
    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }
  
    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
  
    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
  
    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  }
  






  /* button */

  .btns , .btnss {
    text-decoration: none;
    margin-top: 4rem;
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-box-shadow: 0px 0px 60px #1f4c65;
            box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  }
  
  .btns:active , .btnss:active {
    scale: 0.92;
  }
  
  .btns:hover  , .btnss:hover {
    background: rgb(2,29,78);
    background: -webkit-gradient(linear, right top, left top, from(rgba(2, 29, 78, 0.681)), color-stop(60%, rgba(31, 215, 232, 0.873)));
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
  }





  .bg {
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }



  .bg p {
    padding: 10px 0;
    font-weight: 700;
  }


  @media (min-width: 700px ) and (max-width: 800px)  {
    #text {
      font-size: 6em;
    }

    .scs p {
      font-size: 2.7em;
    }

    #About h2 {
      font-size: 3em;
      padding-bottom: 120px;
    }

    .scs .h2213 {
   
      font-size: 4em;
      display: none;
     
    }

    .scs .h213 {
      display: none;
    }
  }

  @media (max-width: 800px) and (min-width : 200px){
 
    .scs h2 {
      font-size: 2.5em ;
    }

    .scs .h2213 {
  
      display: none;
      animation: none
    }

    .content .h213 {
      display: flex;  
      font-size: 2.3em;
      animation: none
    }

    

    .scs p {
      color: #fff;
      font-size: 2em;
      margin-bottom: 10px;
      height: 100vh;
    
     
  }

  .scs {
    position: relative;
    padding: 20px;
    background: #1c0522;
    align-items: center;
    padding-bottom:170px;
    height: 190%;
    
  
  }

  .card{
    width: 19em;
  }


  header {
    display: none;
  }


  #text  {
     font-size: 60px;
  }

  .start .btn {
    font-size: 30px;
  }


  #About {
   padding-top: 90px ;
  }

  }


  .btnss {
    font-size: 1.6em;
    color: #000;
    background-color: wheat;
  }
  

  .btnss:hover {
    font-size: 2em;
  }




  



  @media (max-width: 700px  ) {


     header {
      display: none;
     }



     #text {
      font-size: 2.6em;
     }


     #About h2 {
      font-size: 2em;
     }


     .scs p {
      padding: 0;
      align-items: center;
      font-size: 1.8em;
      margin-bottom: 100px;
     }

     .content .h213 {
      font-size: 2em;
     }

     .card{
      width: 15em;
      height: 15em;
      
    }

    .scs {
      padding-bottom: 290px;
    }

    .start .btn {
      font-size: 20px;
    }
    

    #Ruls h2 {
      font-size: 2.4em;
    }
  }
  

  #contact {
    padding: 5rem 0;
    background-color: #140035;
}


#contact .container {
    max-width: 900px;
}

#contact .contact-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contact .contact-content .contact-info {
    width: 50%;
}

#contact .contact-content .contact-info h3 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
    transform: translateX(200px);
}

#contact .contact-content .contact-info a i {
    color: #fff9eb;
    background-color: #383848;
    margin-right: 5px;
    padding: 25px;
    border-radius: 50%;
    font-size:40px ;

}


form {
    width: 50%;
  }
  
  form input,
  textarea {
    display: block;
    width: 100%;
    padding: 20px 15px;
    margin: 20px 0;
    border: none;
    background-color: #e3e2dd;
  }
  
  form input:focus,
  textarea:focus {
    outline: none;
  }
  

#contact .btn {
    color: #000000;
    background-color: #e4b95b;
    cursor: pointer;
}

#contact h2 {
  color: wheat ;
  align-items: start;
  height: 10%;
}

#contact .btn:hover {
    color: #ddd;
    background-color: #383848;
}

#footer{
  background: #000000;
  text-align: center;
  color: #ffffff;
  padding: 15px 0;
  font-size: 15px;
}

#footer a {
  color:#001aff;
}
/* fotter End */


 


  
  


 
  















 




